// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$bg-color-titulo: #f3ebe6;
$marron: #85554b;
$antracit: #474848;
$font-title: 'Forum';
$font-text: 'Source Sans Pro';


body {
    padding: 0;
    margin: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-title;
        font-weight: 400;
    }

    h3 {
        font-size: 1.60rem;
    }

    p,
    span {
        font-family: 'Source Sans Pro';
        font-weight: 300;
        font-size: 17px;
    }

    ul,
    li {
        font-family: 'Source Sans Pro';
        font-weight: 300;
        font-size: 17px;
    }
}

.masthead {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background-image: url('./../../../uploads/2019/07/homepage_esoes-min.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;


    .div-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .dropdown-menu {
        background-color: #eee7dc;
        border: none;
        margin: -0.5rem 0 0;
        min-width: 8rem;
        border: 0px solid rgba(0, 0, 0, .15);
        border-radius: .2rem;

        .dropdown-item {
            color: #434449 !important;
        }

        .dropdown-item:focus,
        .dropdown-item:hover {
            color: #fff !important;
            text-decoration: none;
            background-color: transparent;
        }
    }

    .cont-logo {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80px;

        @media only screen and (max-width: 767px) {
            position: relative;
        }


        .fb-in,
        .fb-fb,
        .fb-ic {
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
        }

        .fb-in {
            background-image: url('./../../../uploads/2019/08/Instagram.png');
        }

        .fb-fb {
            background-image: url('./../../../uploads/2019/08/facebook.png');
        }

        .fb-ic {
            background-image: url('./../../../uploads/2019/08/Pinteres.png');
        }
    }


    #menu-item-424-fr,
    #menu-item-523-fr,
    #menu-item-522-fr {
        color: $bg-color-titulo;
        position: absolute;
        right: 70px;

        &:before {
            content: "FR |";
            color: $bg-color-titulo;
            position: absolute;
            top: calc(50% - 12px);
        }

        a {
            opacity: 0;
        }

        @media only screen and (max-width: 767px) {
            position: relative;
            right: 0;

            &:before {
                content: "";
            }

            a {
                opacity: 1;
            }
        }

        .dropdown-item {
            color: $bg-color-titulo !important;
        }
    }

    #menu-item-424-en,
    #menu-item-523-en,
    #menu-item-522-en {
        color: $bg-color-titulo;
        position: absolute;
        right: 40px;

        &:before {
            content: "EN |";
            color: $bg-color-titulo;
            position: absolute;
            top: calc(50% - 12px);
        }

        a {
            opacity: 0;
        }

        @media only screen and (max-width: 767px) {
            position: relative;
            right: 0;

            &:before {
                content: "";
            }

            a {
                opacity: 1;
            }
        }

        .dropdown-item {
            color: $bg-color-titulo !important;
        }
    }

    #menu-item-424-es,
    #menu-item-523-es,
    #menu-item-522-es {
        color: $bg-color-titulo;
        position: absolute;
        right: 0px;

        &:before {
            content: "ES |";
            color: $bg-color-titulo;
            position: absolute;
            top: calc(50% - 12px);
        }

        a {
            opacity: 0;
        }

        @media only screen and (max-width: 767px) {
            position: relative;
            right: 0;

            &:before {
                content: "";
            }

            a {
                opacity: 1;
            }
        }

        .dropdown-item {
            color: $bg-color-titulo !important;
        }
    }

    #menu-item-355 {
        position: relative;
        top: 0px;
        left: 58vh;

        &:after {
            content: "|";
            color: $bg-color-titulo;
            position: absolute;
            top: 5px;
            left: 30px;
        }

        @media only screen and (max-width: 767px) {
            top: 0px;
            left: 0vh;

            &:after {
                content: "";
            }
        }
    }

    #menu-item-356 {
        position: relative;
        top: 0px;
        left: 59vh;

        &:after {
            content: "|";
            color: $bg-color-titulo;
            position: absolute;
            top: 5px;
            left: 32px;
        }

        @media only screen and (max-width: 767px) {
            top: 0px;
            left: 0vh;

            &:after {
                content: "";
            }
        }
    }

    #menu-item-357 {
        position: relative;
        top: 0px;
        left: 60vh;

        @media only screen and (max-width: 767px) {
            top: 0px;
            left: 0vh;

        }
    }

    @media only screen and (max-width: 767px) {
        .navbar-nav {
            background-image: url('./../../../uploads/2019/07/homepage_esoes-min.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100vh;
            padding-left: 5vh;
            z-index: 1;


            .astm-search-menu {
                padding-bottom: 20px;
                top: 20px !important;
                left: 20px !important;
            }
        }
    }

    .is-customize-link {
        display: none;
    }

    .is-menu.dropdown form {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;

        @media only screen and (max-width: 767px) {
            position: relative;
        }
    }

    .is-ajax-search label {
        position: absolute;
    }
}

.masthead_int {
    .navbar {
        width: 100%;
        position: fixed;
        height: auto;
        background-color: $marron;
        text-transform: uppercase;
        z-index: 1;

        .cont-logo {
            display: flex;
            align-items: center;
            width: 100%;
            position: absolute;
            left: 0;
            padding: 0 10px;

            .logo-int {
                position: absolute;
                margin-left: calc(50% - 40px);
                z-index: 1;

                .content-logo {
                    img {
                        width: 100px;
                    }
                }
            }

            @media only screen and (max-width: 767px) {
                position: relative;
                width: 80%;

                .logo-int {
                 
                    .content-logo {
                        img {
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }



            .fb-in,
            .fb-fb,
            .fb-ic {
                width: 15px;
                height: 15px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
            }

            .fb-in {
                background-image: url('./../../../uploads/2019/08/Instagram.png');
            }

            .fb-fb {
                background-image: url('./../../../uploads/2019/08/facebook.png');
            }

            .fb-ic {
                background-image: url('./../../../uploads/2019/08/Pinteres.png');
            }


        }
    }


    .dropdown-menu {
        background-color: $marron;
        border: none;
        margin: -0.5rem 0 0;
        min-width: 8rem;
        border: 0px solid rgba(0, 0, 0, .15);
        border-radius: .2rem;

        .dropdown-item {
            color: $bg-color-titulo !important;
        }

        .dropdown-item:focus,
        .dropdown-item:hover {
            color: #fff !important;
            text-decoration: none;
            background-color: transparent;
        }
    }



    @media only screen and (min-width: 660px) and (max-width: 990px) {
        .navbar-toggler {
            position: absolute;
            right: 19px;
        }

        .dropdown-menu {
            background-color: $marron;
            border: none;
            margin: -0.5rem 0 0;
            min-width: 8rem;
            border: 0px solid rgba(0, 0, 0, .15);
            border-radius: .2rem;

            .dropdown-item {
                color: $bg-color-titulo !important;
            }

            .dropdown-item:focus,
            .dropdown-item:hover {
                color: #fff !important;
                text-decoration: none;
                background-color: transparent;
            }
        }

    }

    @media only screen and (max-width: 767px) {
        .navbar {
            .astm-search-menu {
                padding-bottom: 20px;
                top: 0px;
                left: 0px;
            }

            path {
                fill: $bg-color-titulo;
            }

            padding: 20px;

            .navbar-nav {
                background-color: $marron;
                width: 100%;

                li {
                    padding-left: 20px;
                }

                .dropdown-menu {
                    background-color: $marron;
                    border: none;
                    margin: -0.5rem 0 0;
                    min-width: 8rem;
                    border: 0px solid rgba(0, 0, 0, .15);
                    border-radius: .2rem;

                    .dropdown-item {
                        color: $bg-color-titulo !important;
                    }

                    .dropdown-item:focus,
                    .dropdown-item:hover {
                        color: #fff !important;
                        text-decoration: none;
                        background-color: transparent;
                    }
                }
            }
        }
    }

    #menu-item-347,
    #menu-item-497,
    #menu-item-518,
    #menu-item-678 {
        a {
            margin-right: 120px;
        }

    }
}

.is-search-input {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid $bg-color-titulo;
    position: absolute;
    top: 0;
    right: -80vw;
    color: $bg-color-titulo;

    &:focus {

        outline: none !important;
        outline-width: 0 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }


    @media only screen and (max-width: 767px) {
        right: initial;
        left: 40px;
    }
}

.is-search-submit {
    display: none;
}

.is-ajax-search-result {
    width: 250px !important;
    background: transparent !important;
}

.content-logo {
    img {
        width: 10%;
        position: relative;
    }

    @media only screen and (max-width: 767px) {
        img {
            width: 25%;
            top: -4vh;
            left: 20vh;
        }
    }

}



.navbar {
    position: relative;
    width: 100%;

    .primary-nav {
        text-align: center;
    }

    .navbar-nav {
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;

        @media only screen and (max-width: 767px) {
            margin: 0;
            padding: 0;
            position: absolute;
            left: 0;
            height: 100vh;
            justify-content: end;
        }

        .nav-link {
            font-family: $font-text;
            font-size: 14px !important;
            font-weight: 900;

            &:after {
                display: none;
            }
        }
    }


    .astm-search-menu {
        position: initial;

        a {
            position: absolute;
            top: 7px;
            right: 150px;
        }

        path {
            fill: $bg-color-titulo;
        }

        .form-control {
            border: 1px solid $marron;
            background-clip: inherit;
            transition: $marron .15s ease-in-out;

            &:focus {
                box-shadow: none;
            }
        }

        @media only screen and (max-width: 767px) {
            a {
                top: initial;
                left: 20px;

            }
        }
    }

    .search-close {
        display: none !important;
    }

    .is-edit-link {
        display: none;
    }

    @media only screen and (max-width: 767px) {
        position: fixed;
        width: 100%;
        background-image: url(../../../uploads/2019/07/homepage_esoes-min.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
        box-shadow: 0 4px 6px rgba($color: #000000, $alpha: 0.16);
    }
}

.content-title {
    position: relative;
    width: 100%;

    animation-duration: 3s;
    animation-name: animation-logo;

    .logo-esoes {
        background-image: url("./../../../uploads/2019/07/logo_esoes.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 0 auto;
        width: 50%;
        max-width: 400px;

        &::before {
            content: "";
            display: block;
            padding-top: 67%;
        }
    }

    @media only screen and (max-width: 767px) {
        margin-top: 110px;
        margin-bottom: 30px;

        .logo-esoes {
            width: 80%;
        }
    }
}


@keyframes animation-logo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.coordinate {
    color: $bg-color-titulo !important;

    animation-duration: 2s;
    animation-name: coordinate;

    a {
        margin-bottom: 0px;
        text-decoration: none;
        font-size: 14px;
        font-family: $font-text;
        color: $bg-color-titulo !important;
    }

    .coordinate-izq {
        text-align: left;
    }

    .coordinate-der {
        text-align: right;
        margin-left: 5%;
    }

    .vl-izq {
        border-top: 1px solid $bg-color-titulo !important;
        margin-top: 10px;
        margin-left: 23px;
        width: 4% !important;
    }

    .vl-der {
        border-top: 1px solid $bg-color-titulo !important;
        margin-top: 10px;
        width: 4% !important;
    }

    @media only screen and (max-width: 767px) {
        margin-bottom: 50px;
    }

}

@keyframes coordinate {
    0% {
        width: 200%;
        margin-left: -50%;
        opacity: 0;
    }

    50% {
        width: 200%;
        margin-left: -50%;
        opacity: 0;
    }

    100% {
        width: 100%;
        margin-left: 0;
        opacity: 1;
    }
}

@media only screen and (max-width: 767px) {
    //padding-top: 7vh;

    .vl-izq,
    .vl-der {
        display: none;
    }

}

.vl {
    border-right: 1px solid $bg-color-titulo !important;
    height: 90px;
    text-align: justify;
    width: 1%;
    margin-bottom: 30px;
    animation-name: vl;
    animation-duration: 2s;
}


@keyframes vl {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#portafolio {
    .content-title-portafolio {
        color: $antracit !important;
        margin-top: 6%;
        margin-bottom: 4%;
        width: 100%;

        p {
            width: 75%;
            margin: auto;
        }
    }

    h3 {
        display: inline-block;
        margin-bottom: 40px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 30%;
            height: 1px;
            background-color: $antracit;
            top: 1rem;
            left: -50px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 30%;
            height: 1px;
            background-color: $antracit;
            top: 1rem;
            right: -50px;
        }
    }

}

#portafolio-galeria {
    height: auto;

    #galeria {
        margin: 1rem auto;
        width: 100%;
        max-width: 960px;
        column-count: 3;

        @media (max-width: 767px) {
            columns: 2;

        }

        @media (max-width: 480px) {
            columns: 1;

        }

    }

    .prueba {
        display: none;
    }

    .div-mostrar {
        padding-top: 8vh;
        padding-bottom: 5vh;

        #mostrar {
            display: inline-block;
            background-color: #c7b4a2;
            cursor: pointer;
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 5px;
            margin: 30px;
            bottom: 30px;
            right: 30px;
            transition: background-color .3s;

            #mostrar-img {
                transform: rotate(90deg);
                width: 15px;
                margin-top: 8px;
            }
        }
    }
}


.rings {
    figure {
        display: inline-block;
        position: relative;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            display: none;
        }

        &:hover {
            background: black;
        }

        &:hover span {
            display: block;
        }

        &:hover img {
            opacity: 0.7;
        }
    }
}

#pages-portfolio {

    .cont {
        position: relative;

        .quieto {
            position: absolute !important;
            bottom: 5vh;
        }

        .cont-text {
            position: fixed;
            margin-top: 30vh;
            margin-left: 120vh;
            width: 70%;
            height: 100vh;
            display: flex;
            flex-direction: column;

            .tag {
                display: inline-block;
                position: relative;
                padding-bottom: 30px;
                left: 40px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 4%;
                    height: 1px;
                    background-color: $antracit;
                    top: 0.7rem;
                    left: -40px;
                }
            }

            .tag_space {
                padding-bottom: 30px;
            }

            p {
                font-size: 15px;
            }

        }

        .cont-img {
            height: 420vh;
            background-image: url('./../../../uploads/2019/07/homepage_esoes-min.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            img {
                position: relative;
                top: 30vh;
                left: 20vh;
                width: 105% !important;
                height: 13%;
                padding-bottom: 30px;
            }
        }
    }

}

.services {
    width: 100%;
    height: 100vh;
    background-image: url('./../../../uploads/2019/07/fond_services.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;

    .content-title-services {
        padding-bottom: 20px;
        color: $bg-color-titulo !important;

        h3 {
            display: inline-block;
            margin-bottom: 40px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 35%;
                height: 1px;
                background-color: $bg-color-titulo;
                top: 1rem;
                left: -50px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 35%;
                height: 1px;
                background-color: $bg-color-titulo;
                top: 1rem;
                right: -50px;
            }
        }

    }

    .file-services {
        justify-content: center;
        margin-left: -10px;
    }

    .list-izq {
        text-align: right;
        border-right: 1px solid $bg-color-titulo !important;
        padding-right: 70px;
        padding-top: 30px;
        height: 180px;
        margin-bottom: 20px;
        max-width: 50%;
    }

    .list-der {
        padding-left: 37PX;
        padding-top: 30px;
        max-width: 50%;
    }

    ul {
        list-style: none;

        a {
            text-decoration: none;
        }

        li {
            color: $bg-color-titulo !important;
            padding-bottom: 8px;
        }
    }

    .div-btn-services {
        margin-top: 25px;

        .btn-services {
            background-color: $bg-color-titulo;
            color: $antracit;
            font-size: 11px;
            text-transform: uppercase;
            border: none;
            padding: 10px 20px;
            text-decoration: none;
        }
    }
}

#pag-services {
    background-image: url('./../../../uploads/2019/07/service1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .content-services {
        padding-top: 40vh;
        padding-bottom: 20vh;
        color: $antracit;

        h3 {
            display: inline-block;
            position: relative;
            padding-bottom: 30px;
            left: 60px;

            &::before {
                content: '';
                position: absolute;
                width: 30%;
                height: 1px;
                background-color: $antracit;
                top: 1.2rem;
                left: -60px;
            }
        }

        ul {
            width: 100vh;
            margin-bottom: 20px;
            overflow: hidden;
        }

        li {
            line-height: 2em;
            font-size: 14px;
            color: $antracit;
            width: 45%;
            float: left;
            display: inline;
            border-bottom: 1px solid #d5d5d5;
            margin-right: 25px;
        }

        .list-services {
            -webkit-animation-name: movimiento-services;
            -webkit-animation-duration: 3s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            /*para que vuelva a su posicion inicial */
            position: relative;
            float: right;
            margin-top: 50vh;
            padding-left: 15vh;

            .fas {
                font-size: 2px;
                width: 30px;
                position: relative;
                top: -4px;
            }
        }
    }

    @media (max-width: 990px) {
        .content-services {
            padding: 180px 0 80px 0;
            width: 80%;
            margin: 20px auto 0;

            .list-services {
                float: right;
                margin-top: 50px;
                padding-left: 30%;
                width: 100%;
            }

            ul {
                width: 100%;
            }

            li {
                width: 100%;
            }
        }
    }
}

@keyframes movimiento-services {
    from {
        left: 0px;
    }

    to {
        left: 70px;
    }
}

#processus {
    height: 100vh;
    color: $bg-color-titulo;
    background-image: url('./../../../uploads/2019/07/services2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    img {
        width: 10%;
    }

    .content-title-processus {
        padding-top: 15vh;
        padding-bottom: 15px;

        h3 {
            display: inline-block;
            position: relative;
            padding-bottom: 30px;

            &::before {
                content: '';
                position: absolute;
                width: 30%;
                height: 1px;
                background-color: $bg-color-titulo;
                top: 1.2rem;
                left: -60px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 30%;
                height: 1px;
                background-color: $bg-color-titulo;
                top: 1.2rem;
                right: -60px;
            }
        }
    }

    .carousel-control-prev {
        transform: rotate(180deg);
    }

    .carousel-inner {
        padding-top: 2vh;
        padding-bottom: 20vh;

        h4 {
            padding-bottom: 10px;
        }

        .carousel-item {
            padding-left: 25vh;
            height: 20%;

            .div-phase {
                margin-top: -30vh;
            }

            .div-livrable {
                margin-top: -6vh;
            }

            li {
                list-style: none;

                .fas {
                    font-size: 2px;
                    width: 30px;
                    position: relative;
                    top: -4px;
                }
            }
        }
    }

    @media (max-width: 990px) {
        .content-title-processus {
            padding-top: 80px;
        }

        #demo {
            width: 80%;
            margin: 0 auto;
        }

        .carousel-inner {
            padding: 0 0 50px 0;

            .carousel-item {
                padding-left: 0;

                .div-phase {
                    margin-top: 20px;
                }
            }
        }
    }
}

#services-collaborations {
    color: $antracit;
    padding-top: 20vh;
    padding-bottom: 25vh;

    .contact-image {
        img {
            width: 20%;
        }
    }

    h3 {
        display: inline-block;
        position: relative;
        padding-bottom: 30px;
        right: 70px;

        &::after {
            content: '';
            position: absolute;
            width: 30%;
            height: 1px;
            background-color: $antracit;
            top: 1.2rem;
            right: -66px;
        }
    }

    .text-contact {
        text-align: right;
        right: 10vh;

        p {
            padding-bottom: 60px;
        }

        .btn-contact {
            margin-top: 50px;
            background-color: $marron;
            color: $bg-color-titulo;
            border: none;
            padding: 10px 40px 10px 40px;
            text-decoration: none;
        }
    }

    @media (max-width: 990px) {
        padding: 80px 0;

        .content-collaborations {
            width: 80%;
            margin: 0 auto;

            .contact-image {
                margin-bottom: 20px;
            }

            .text-contact {
                right: 0;
            }
        }
    }

}

#pourquoi {
    background-color: $marron;
    color: $bg-color-titulo;
    padding-top: 20vh;
    padding-bottom: 30vh;

    .content-title-processus {
        -webkit-animation-name: movimiento-pourquoi;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        /*para que vuelva a su posicion inicial */

        display: inline-block;
        position: relative;
        left: 90vh;
        padding-bottom: 15vh;

        &::before {
            content: '';
            position: absolute;
            width: 16%;
            height: 1px;
            background-color: $bg-color-titulo;
            top: 1.2rem;
            left: -70px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 16%;
            height: 1px;
            background-color: $bg-color-titulo;
            top: 1.2rem;
            right: -67px;
        }
    }

    h4 {
        padding-bottom: 3vh;
    }

    .text-pourquoi {
        border-right: 1px solid $bg-color-titulo;
        height: 50vh;
        padding-top: 10vh;
    }

    .text-pourquoi-unique {
        height: 50vh;
        padding-top: 10vh;
    }


    @media (max-width: 990px) {
        padding: 80px 0;

        .title-pourquoi {
            padding-bottom: 30px;
        }

        .text-pourquoi {
            width: 80%;
            height: auto;
            margin: 0 auto;
            border-right: 0;
            border-bottom: 1px solid #f3ebe6;
            padding: 20px 0;
        }

        .text-pourquoi-unique {
            padding: 20px 0;
            width: 80%;
            height: auto;
            margin: 0 auto;
        }
    }

}


@keyframes movimiento-pourquoi {
    from {
        top: -10px;
    }

    to {
        top: 25px;
    }
}

.propos {

    .propos-izq {
        background-image: url('./../../../uploads/2019/07/apropos_home.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .propos-der {
        color: $antracit;
        text-align: left;
        padding: 124px 45px 100px 145px;

        h3 {
            display: inline-block;
            position: relative;
            padding-bottom: 75px;
            left: 60px;

            &::before {
                content: '';
                position: absolute;
                width: 30%;
                height: 1px;
                background-color: $antracit;
                top: 1.2rem;
                left: -60px;
            }
        }

        h6 {
            padding-bottom: 10px;
            font-size: 20px;
        }

        p {
            font-size: 18px !important;
            padding-bottom: 15px;
        }

        .div-btn-propos {
            margin-top: 25px;
            margin-left: 0px;

            .btn-propos {
                background-color: $marron;
                color: $bg-color-titulo;
                font-size: 11px;
                text-transform: uppercase;
                border: none;
                padding: 10px 20px;
                text-decoration: none;
            }
        }

        @media only screen and (max-width: 767px) {
            padding: 0;
            width: 70%;
            margin: 40px auto;
            text-align: center;

            h3 {
                margin-bottom: 50px;
                padding: 0;
            }
        }
    }
}

#pag-propos {
    height: auto;
    width: 100%;
    background-image: url('./../../../uploads/2019/07/about_1.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    .content-propos-1 {
        color: $antracit;
        padding-top: 190px;
        padding-bottom: 140px;

        h3 {
            display: inline-block;
            position: relative;
            padding-bottom: 30px;
            left: 60px;

            &::before {
                content: '';
                position: absolute;
                width: 30%;
                height: 1px;
                background-color: $antracit;
                top: 1.2rem;
                left: -60px;
            }
        }

    }

    @media (max-width: 990px) {
        .content-propos-1 {
            margin: 0 auto;
            width: 80%;
        }
    }
}


#pag-propos-1 {
    height: 90vh;
    width: 100%;
    background-color: $marron;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    img {
        margin-top: -14%;
        margin-left: -55px;
        height: 110%;
        width: 90%;
    }

    .content-propos-2 {
        color: $bg-color-titulo;
        padding: 100px 0;

        h3 {
            display: inline-block;
            position: relative;
            padding-bottom: 30px;
            left: 70px;

            &::before {
                content: '';
                position: absolute;
                width: 15%;
                height: 1px;
                background-color: $bg-color-titulo;
                top: 1.2rem;
                left: -70px;
            }
        }
    }

    @media (max-width: 990px) {
        img {
            margin-top: -60px;
            margin-left: 0px;
            height: 80vh;
            width: 80%;
        }

        .content-propos-2 {
            color: $bg-color-titulo;
            padding: 80px 0;
            text-align: right;
            width: 80%;
            margin: 0 auto;

            .title-propos-2 {
                left: 0;
            }
        }

    }
}

#pag-propos-3 {
    margin: 180px 0 180px 0;

    img {
        width: 100%;
        height: 90%;
        margin-left: 5vh;
    }

    .content-propos-3 {
        padding-top: 12vh;
        padding-bottom: 20vh;
        padding-left: 20vh;


        .title-propos-2 {
            display: inline-block;
            position: relative;
            padding-bottom: 30px;
            left: 70px;

            &::before {
                content: '';
                position: absolute;
                width: 13%;
                height: 1px;
                background-color: $antracit;
                top: 1.2rem;
                left: -70px;
            }
        }
    }

    @media screen and (max-width: 990px) {
        padding: 50px 0;
        width: 80%;
        height: auto;
        margin: 0 auto;

        .content-propos-3 {
            padding: 0;
            width: 80%;
            text-align: left;
        }

        img {
            width: 80%;
        }

    }

    .text-mov {
        position: relative;
        padding-top: 40px;
        width: 100%;
        -webkit-animation-name: movimiento-diagonal;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        /*para que vuelva a su posicion inicial */

        p {
            color: $marron;
            font-weight: 700;
            font-size: 20px !important;
        }
    }
}

@keyframes movimiento-diagonal {
    from {
        left: 0px;
    }

    to {
        left: 100px;
    }
}

.partenaires {
    height: 70vh;
    width: 100%;
    background-image: url('./../../../uploads/2019/07/partenaires_fond.png');
    //background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h3 {
        display: inline-block;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 30%;
            height: 1px;
            background-color: $antracit;
            top: 1rem;
            left: -50px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 30%;
            height: 1px;
            background-color: $antracit;
            top: 1rem;
            right: -50px;
        }
    }

    .text-partenaires {
        padding-top: 100px;
        padding-bottom: 75px;
        color: $antracit;
    }

    .log-partenaires {
        overflow: hidden;
        width: 90%;
        cursor: pointer;

        img {
            -webkit-transition: all .9s ease;
            /* Safari y Chrome */
            -moz-transition: all .9s ease;
            /* Firefox */
            -o-transition: all .9s ease;
            /* IE 9 */
            -ms-transition: all .9s ease;
            /* Opera */
            width: 80%;

        }

        &:hover {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
}

.collaborations {
    height: auto;
    width: 100%;
    padding: 80px 0;
    //min-height: 500px;
    background-image: url('./../../../uploads/2019/07/collaboration_fond.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .div-text-collaborations {
        width: 70%;
        margin: 0 auto;
    }

    .text-collaborations {
        padding: 80px;
        width: 100%;
        margin: 0 auto;
        color: $bg-color-titulo;
        background-color: rgba(200, 189, 167, 0.5);
        //opacity: 0.4;

        .collaborations-name {
            font-size: 18px !important;
        }

        h3 {
            display: inline-block;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 15%;
                height: 1px;
                background-color: $bg-color-titulo;
                top: 1rem;
                left: -60px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 15%;
                height: 1px;
                background-color: $bg-color-titulo;
                top: 1rem;
                right: -60px;
            }
        }

        p {
            padding-bottom: 26px;
        }
    }

    .carousel-control-prev {
        transform: rotate(180deg);
    }

    img {
        width: 10%;
    }
}



.contact {
    padding: 100px;
    height: 70vh;

    .text-contact {
        color: $antracit;
        width: 50%;
        font-size: 18px;
        padding-bottom: 25px;
        padding-top: 30px;

        p {
            font-size: 20px !important;
        }
    }

    .div-btn-propos {
        margin-top: 30px;

        .btn-contact {
            margin-top: 20px;
            background-color: $marron;
            color: $bg-color-titulo;
            font-size: 12px;
            font-weight: 900;
            border: none;
            padding: 10px 20px;
            text-decoration: none;
            text-transform: uppercase;
        }

    }

}

.pages-contact {
    padding-top: 30vh;
    padding-bottom: 30vh;
    background-image: url('./../../../uploads/2019/08/contact_fundo.png');
    //background-attachment: fixed;
    //background-size: cover;
    //background-position: center;
    background-repeat: no-repeat;

    h3 {
        display: inline-block;
        position: relative;
        padding-bottom: 20px;

        &::before {
            content: '';
            position: absolute;
            width: 30%;
            height: 1px;
            background-color: $antracit;
            top: 1rem;
            left: -40px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 30%;
            height: 1px;
            background-color: $antracit;
            top: 1rem;
            right: -40px;
        }
    }

    .fondo {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 15vh;
    }

    textarea {
        font-family: $font-text;
        border-radius: 0px;
        margin-bottom: 5vh;
        outline: none !important;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;

        &:focus {
            box-shadow: none !important;
            background: transparent;
            border-bottom: 1px solid #b3b3b3;
        }
    }



    .field-container {
        position: relative !important;
        margin-top: 20px;
        font-family: $font-text;
    }

    .field {
        display: block;
        width: 100%;
        border-radius: 0px;
        margin-bottom: 5vh;
        outline: none !important;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;

    }

    .field:focus {
        outline: 0;
        box-shadow: none !important;
        border-bottom: 1px solid #b3b3b3 !important;
    }

    .floating-label {
        position: absolute !important;
        pointer-events: none;
        top: 5px;
        left: 10px;
        font-size: 12px;
        opacity: 0;
        background-color: transparent !important;
        padding: 0 2px;
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }

    .field:valid+.floating-label {
        opacity: 1;
        top: -10px;
        color: $antracit;
    }

    .field:focus+.floating-label {
        color: $antracit;
    }

    .form-contact {
        padding-top: 20vh;

        .group-izq {
            width: 90%;
        }

        .group-der {
            width: 90%;
            float: right;

            @media only screen and (max-width: 767px) {
                float: left;
            }
        }

        .group-der {
            width: 90%;
            float: right;
        }

        .div-message {
            font-family: $font-text;
            padding-top: 10vh;
        }

        .btn-form {
            background-color: $marron;
            color: $bg-color-titulo;
            border-radius: 0px;
            font-size: 11px;
            padding: 10px 20px;
            text-transform: uppercase;
            margin-top: 3vh;
            float: right;
        }
    }

    .div-datos {
        padding-top: 20vh;

        img {
            width: 15%;
            float: right;
        }

        p {
            padding-top: 4vh;
        }
    }

    @media (max-width: 990px) {
        padding: 180px 10%;

        .form-contact {
            padding: 20px 0;

            .group-der {
                float: none;
            }
        }

        .fondo {
            padding: 20px;
        }

    }

    @media only screen and (max-width: 767px) {
        img {
            float: left;
        }
    }
}


.grid {
    width: 100%;
    margin-left: 20vh;
    margin-right: 50px;
}

.grid-item {
    width: 280px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.grid-item p {
    padding: 10px;
    font-size: 13px;
}

.grid-item img {
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
}

.pages-blog {
    height: 100vh;

    .section1 {
        padding-top: 30vh;
        background-color: $bg-color-titulo;
        width: 105%;
        height: 40vh;

        .title {
            color: $marron;
        }

        .sep-vert {
            border-left: 1px solid $antracit;
            height: 20vh;
        }

        img {
            -webkit-box-shadow: 2px 5px 5px $antracit;
            -moz-box-shadow: 2px 5px 5px $antracit;
            filter: shadow(color=#999999, direction=135, strength=2);
            width: 85%;
            margin-left: 10vh;
            margin-top: -10vh;
        }
    }
}

.section2 {
    padding-top: 10vh;
    padding-bottom: 20vh;
    margin-left: 70px;
    max-width: 90% !important;

    .sep-der {
        border-right: 1px solid $antracit;
        padding-right: 10vh;
    }

    .sep-izq {
        padding-left: 10vh;
    }
}

.section3 {
    padding-top: 30vh;
    padding-bottom: 50vh;
    color: $bg-color-titulo;
    background-color: $marron;
    height: 70vh;

    .sep-der {
        border-right: 1px solid $bg-color-titulo;
        height: 20vh;
    }

    .content-text {
        margin-top: -13vh;
        padding-left: 20vh;
        text-align: right;
    }

    img {
        -webkit-box-shadow: 2px 5px 5px $antracit;
        -moz-box-shadow: 2px 5px 5px $antracit;
        filter: shadow(color=#999999, direction=135, strength=2);
        width: 95%;
        margin-top: -40vh;
    }
}

.blog-int {
    height: auto;
    width: 60%;
    background-image: url('/wp-content/uploads/2019/09/background.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 30vh;

    .blog_fondo {
        position: relative;
        top: 35vh;
        left: 30vh;
        text-align: right;
    }

    .sep-vert {
        border-right: 1px solid $antracit;
        height: 40%;
        margin-top: 30px;
        margin-bottom: 5vh;
    }

    .title {
        color: $marron;
    }

    img {
        -webkit-box-shadow: 2px 5px 5px $antracit;
        -moz-box-shadow: 2px 5px 5px $antracit;
        filter: shadow(color=#999999, direction=135, strength=2);
        position: relative;
        top: -30vh;
        left: 110vh;
        width: 500px;
        height: 100vh;
    }

    .section_blog {
        margin-bottom: -30vh;
    }

    a {
        text-decoration: none;
        color: $antracit;
        text-align: right;
    }

    .blog-izq {
        margin-top: 50px;
        padding-top: 15vh;
    }

    .contenido-blog {
        margin: 0;
        background: #fff;
        color: $antracit;
        padding: 25px;
        text-align: center;

        .text {
            p {
                font-size: 18px;
                font-weight: bold;
            }

        }

        p {
            font-size: 16px;
            margin-bottom: 1px;
            font-weight: bold !important;
        }
    }

    .div-btn-blog {
        padding-top: 20vh;
        padding-bottom: 20px;
        margin-left: 30px;
    }

    .efecto-blog {
        padding-top: 5vh;

        img {
            height: 60vh;
            width: 100%;
        }
    }
}


.blog {
    height: auto;
    width: 100%;
    padding-bottom: 70px;
    background-color: $marron;

    .carousel-control-prev {
        transform: rotate(180deg);
    }

    .img-prev {
        width: 10%;
    }

    .blog-izq,
    .blog-der {
        width: 45%;
        min-height: 100px;
        margin: 0px auto;
    }

    .contenido-blog {
        font-size: 17px !important;
        height: 25vh;
        margin: 0;
        background: #fff;
        color: $antracit;
        padding: 25px;
        text-align: center;

        p strong {
            font-weight: 900;
            font-size: 14px;
        }

        h5 strong p {
            width: 80%;
            font-weight: 100;
            font-size: 18px;
            margin: 0 auto;
        }
    }

    .div-btn-blog {
        margin-top: 60px;
        margin-bottom: 20px;

        .btn-blog {
            font-size: 11px;
            background-color: $bg-color-titulo;
            color: $antracit;
            border: none;
            padding: 10px 20px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    .efecto-blog {
        .paragraph {
            font-weight: 900;
        }

        .tag {
            margin-top: 60px;
            display: inline-block;
            position: relative;

            img {
                height: 60vh;
                width: 100%;
            }

            span {
                position: absolute;
                font-size: 20px;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                display: none;

                &:hover {
                    background: black;
                }

                &:hover span {
                    display: block;
                }

                &:hover img {
                    opacity: 0.7;
                }
            }
        }
    }
}

.instagram {
    position: relative;
    width: 100%;
    background-color: $marron;

    @media (min-width: 768px) {

        .btn-instagram {
            left: 0px;
        }
    }

    .img-instagram {
        padding-left: 0px;
        padding-right: 0px;
        height: 50px;

        img {
            height: 250px;
            width: 100%;
        }
    }

    .btn-instagram {
        background-color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        color: #474848;
        font-size: 11px;
        position: absolute;
        top: calc(50% - 18px);
        left: calc(50% - 50px);
    }

    #grid-1 {
        margin: 0;
    }
}

#footer-menu {
    margin-left: -35px;

    li {
        display: inline-block;
        margin-left: 15px;
        padding-inline-start: 0px;
        list-style: none;
    }

    @media only screen and (max-width: 767px) {
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            display: block;
        }
    }
}


.footer {
    background-color: $marron;
    position: relative;
    margin-top: -31px;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 35px;

    a,
    p {
        font-size: 10px;
        color: #fff;
        text-decoration: none;
    }

    .div-item-footer {
        padding-left: 35px;
        margin-top: -5px;
    }

    .div-item-der-footer {
        text-align: right;

        .fb-ic {
            img {
                width: 7%;
            }
        }

        .fb-fb {
            img {
                width: 4%;
            }
        }

        //margin-top: -5px;
    }

    .div-item-rs {
        a {
            font-size: 15px;
        }

        text-align: right;
    }

    .div-item-copy {
        text-align: left;
        //padding-left: 27px;
        margin-top: 5px;

        span {
            position: relative;
            top: 3px;
        }
    }

    .item-footer2 {
        left: -14%;
    }

    .item-footer3 {
        left: -24%;
    }

    .item-footer4 {
        left: -40%;
    }
}

#button {
    display: inline-block;
    background-color: #c7b4a2;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;

    img {
        transform: rotate(270deg);
        width: 15px;
        height: 20px;
        margin-top: 2px;
    }

    @media only screen and (max-width: 767px) {
        bottom: 0px;
        right: 0px;
    }
}

#button:hover {
    cursor: pointer;
    background-color: #c7b4a2;
}

#button:active {
    background-color: #c7b4a2;
}

/*#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
*/

.img-lupe {
    width: 15px;
}





@media (max-width: 767px) {
    .masthead {

        .coordinate .vl-izq,
        .coordinate .vl-der,
        .vl {
            display: none;
            position: absolute;
        }

        .coordinate .coordinate-izq,
        .coordinate .coordinate-der {
            text-align: center;
            margin: 0 auto;
        }
    }

    #portafolio-galeria {

        .grid {
            width: 80%;
            margin: 0 auto;

            .grid-item {
                width: 100%;
                margin: 0 auto;
                padding: 10px 0;
                border: 1px solid;
            }
        }
    }


    .services {
        padding: 50px 0;
        height: auto;
        width: 100%;

        .list-izq,
        .list-der {
            width: 80%;
            max-width: unset;
            text-align: center;
            margin: 0;
            padding: 0;
            border: 0px !important;
            height: auto;
            padding: 20px 0;

            ul {
                padding-inline-start: 0px;
                margin-block-start: 0px;
                margin-block-end: 0px;
            }
        }

        .list-izq {
            border-bottom: 1px solid #f3ebe6 !important;
        }
    }

    .partenaires {
        height: auto;
        width: 100%;
        padding: 70px 0;

        .text-partenaires {
            padding: 0;
            padding-bottom: 50px;
        }

        .log-partenaires img {
            width: 50%;
        }
    }

    .collaborations {
        height: auto;
        width: 100%;
        padding: 100px 0;

        .div-text-collaborations {
            width: 90%;
            padding: 0;
            margin: 0 auto;
        }

        .text-collaborations {
            margin: 0 auto;
            padding: 20%;
            width: 80%;
        }
    }

    .blog {
        width: 100%;
        height: auto;
        min-height: auto;
        padding: 100px 0;

        .blog-der,
        .blog-izq {
            margin: 0;
            padding: 0;
            width: 80%;
            margin: 0 auto;
        }
    }


    .footer {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 25px 0;
        height: auto;
        text-align: center;


        .div-item-footer {
            padding: 0;
            margin: 0 auto;
            width: 90%;
        }

        .div-item-der-footer,
        .div-item-rs,
        .div-item-copy {
            text-align: center;
        }


        .item-footer2,
        .item-footer3,
        .item-footer4 {
            left: 0;
        }
    }
}